.schedule{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.arrowfor-btn,.back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.back-btn{
    right: auto;
    left: 0;
}
.slider{
   overflow: hidden; 
}
.slider ul{
    display: flex;
    width: 200%;
    overflow: hidden;
    transition: 0.5s;
}
.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 45px;
    border-radius: 10px;
    color: #1d1b1b;
    line-height: 1.4;
}
.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212ea0;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
    color: #000f38;
}
.user-info span {
    color: #212ea0;
    display: block; /* Ensures it sits below the name */
}