.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(rgba(8,0,58,0.2),rgba(8,0,58,0.2)), url('../../assets/hero.jpg');
    background-size: cover;
    color: #e9e7e7;
    
}
.hero-text{
    text-align: center;
    max-width: 800px;
  /*  padding: 0 20px; */
}
.hero-text h1{
 font-size: 60px;
 font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 1.1rem;
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; /* Puts video behind the text */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video fills the whole screen */
}

.video-wrapper {
    max-width: 600px; /* Limits the size of the video player */
    margin: 20px auto; /* Centers the video player */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

video {
    display: block; /* Removes bottom whitespace */
    width: 100%;    /* Makes video responsive */
    height: auto;
}