nav {
 width: 100%;
/* background: #1d1b1b; */
 padding: 4px 0;
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
justify-content: space-between;
z-index: 10;
}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-style: 16px;
}
.dark-nav{
    background: #2668c5;
    transition: 0.5s;
}