.explore-container {
    background-color: #000; /* Dark Discovery theme */
    color: white;
    padding: 50px 0;
    min-height: 100vh;
}

.video-section {
    margin-bottom: 40px;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
}

.explore-grid img {
    width: 100%;
    border-radius: 8px;
}

/* Removes the default underline from the link in Hero.jsx */
.hero-link {
    text-decoration: none;
}