.footer{
    margin: 10px auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;

}



.footer-container {
    background: #3594a4; /* Light gray background like Discovery */
    padding-top: 50px;
    width: 100%;
}

.follow-us-section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto 50px;
    gap: 40px;
}

.follow-left img {
    width: 300px; /* Adjust based on your graphic size */
    border-radius: 50%;
    transition: 0.4s;
    
}
.follow-right img {
    width: 300px;
    border-color: #d42e2e;
}

.follow-right {
    max-width: 450px;
    font-size: 18px;
    color: #333;
}

.follow-right span {
    text-decoration: underline;
    cursor: pointer;
}

.signup-box {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.signup-box input {
    flex: 1;
    padding: 12px 20px;
    border-radius: 30px; /* Rounded input like reference */
    border: 1px solid #ccc;
    outline: none;
}

.signup-btn {
    background: #e0dada;
    color: #000;
    border: 1px solid #000;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 500;
}

.footer-links {
    border-top: 1px solid #ddd;
    padding: 30px 0;
    text-align: center;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-weight: 700;
    margin-bottom: 20px;
}

.copyright-bar {
    background: #000; /* Solid black bar at bottom */
    color: #7db537;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
/*media query*/
@media (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
    }
    .footer ul li {
        margin: 10px;
    }
    footer ul{
        margin-top: 10px;
    }
    }